body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

.titolo{
    color:rgb(138, 27, 27);
    font-weight: bold;
}

a{
    
    color: rgb(109, 106, 94);
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: 250px;
    height: auto;
}

p{
    color: blueviolet;
}

#steps{
    color: brown;
    font-weight: bold;
}

ul{
    text-align:left
}
ol{
    text-align: left;
}